<li class="flex gap-2 items-center">
  <div class="flex-1 flex gap-2 items-center opacity-50">
    <%= image_tag "teams/prx.png", class: "w-8" %>
    <div class="h-2 w-2 rounded-full bg-pacific"></div>
    <span class="flex-1 text-lg font-bold">PRX</span>
    <span class="font-bold">1</span>
  </div>
  <p class="font-bold text-neutral-500">vs</p>
  <div class="flex-1 flex gap-2 items-center">
    <span class="font-bold">3</span>
    <span class="flex-1 text-lg font-bold text-right">GEN</span>
    <div class="h-2 w-2 rounded-full bg-pacific"></div>
    <%= image_tag "teams/gen-g.png", class: "w-8" %>
  </div>
</li>
